<link rel="stylesheet" href="/static/css/style.css">
<div class="sidebar">
    <div class="sidebar-top">
        <a href="/dashboard" class="nav-item">← My Courses</a>
    </div>
    <a href="/logout" class="logout-btn">Logout Account</a>
</div>
<div class="main">
    <h1>{{ course.title }}</h1>
    <div class="card" style="max-width:450px; margin-bottom:40px;">
        <h3>Add New Lesson</h3>
        <form action="/upload/{{ course.id }}" method="POST" enctype="multipart/form-data">
            <input type="text" name="video_title" placeholder="Lesson Name" required>
            <input type="file" name="video_file" required style="margin:10px 0;">
            <button type="submit" class="btn">Upload</button>
        </form>
    </div>
    <h3>Content Overview</h3>
    <div class="dashboard-grid">
        {% for v in course.videos %}
        <div class="card">{{ v.title }}</div>
        {% endfor %}
    </div>
</div>